.contact-section {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    padding: 0px;

}


#contact-texto {
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-align: left;
    margin-left: 10vw;
    line-height: 1.2;
}