.home-section{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

#home-texto {
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-align: left;
    margin-left: 10vw;
    line-height: 1.3;
}

#h1-nombre {
    font-size: clamp(20px, 3vw, 30px);
    font-weight: 300;
    margin: 0;
}

#h1-leon {
    font-weight: 700;
    font-size: clamp(45px, 8vw, 90px);
    margin: 0;
}


.btn-home  {
    width: fit-content;
    height: 25px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: 10px;
}

.btn-home::before {
    content: '';
    background: linear-gradient(45deg, #000000, #006eff, #5900ff,#000000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(4px);
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn-home::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


@media screen and (max-width: 600px) {

    .btn-home {
        background-color: aqua;
        margin-right: 10px;
        width: 60px;
    }
}
