/* Fondo general de la página */
body {
    background: linear-gradient(#000, #003e8f); /* Cambia esto según lo que necesites */
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Helvetica, sans-serif; /* Asegura que toda la página use la misma fuente */
    color: white;
}

/* Estilos para la primera sección */
.projects-section {
    width: 100%;
    display: block;
    height: 100vh;
    justify-content: center;
    align-items: top; /* Centra verticalmente el contenido */
    margin: 0;
    padding-top: 80px;
}

/* Estilos para el texto dentro de la primera sección */
#projects-texto {
    text-align: center;
    line-height: 1.2;
}

/* Estilos para la segunda sección */
.repos-grid {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Dos columnas con un mínimo de 300px cada una */
    gap: 10px;
    margin: 0 auto;
    padding-top: 80px;
    justify-content: center;
    justify-items: center;
}



@media screen and (max-width: 600px) {

    .repos-grid {
        display: grid;
        width: 80%;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Dos columnas con un mínimo de 300px cada una */
        gap: 10px;
        margin: 0 auto;
        padding-top: 40px;
        justify-content: center;
    }

}



