.navbar {
  /* background-color: #012840; */
  /* box-shadow: 0 0 50px 0 #00000086; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
}

.nav-container-logo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
}

.navbar-span {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: left;
  width: 100%;
  height: auto;
  font-family: 'Montserrat', Helvetica;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.nav-logo {
  display: inline-block;
  justify-content: center;
  width: 30px;
  height: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.icon {
  display: none;
}

div.icon {
  margin: 0;
  display: flex;
  justify-content: right;
  width: 100%;
  height: auto;
  padding: 0%;
  margin-right: 30px;
  z-index: 1100;
}

.nav-links {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', Helvetica;
  font-size: 15px;
  text-decoration: none;
}

.nav-item {
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  color: #ffffff;
  padding-bottom: 5px;
  text-decoration: none;
  font-size: 16px;
  overflow: hidden;
  border: 2px solid transparent;
  transition: color 0.4s;
  margin-right: 15px;
  margin-left: 15px;
}

.nav-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #005fc4;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s;
}

.nav-item:hover::before {
  transform: scaleX(1);
}

ul {
  display: flex;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
  margin-right: 20px;
}

@media screen and (max-width: 660px) {

  .nav-links {
    display: none;
  }

  .nav-item {
    margin-right: 0px;
    margin-left: 0px;
  }

  .icon {
    display: flex;
    color: white;
    padding: 0;
  }

  ul {
    display: none;
  }
 
}

@media screen and (max-width: 448px) {

  .navbar-span {
    font-size: 8px;
  }

}