html {
  background: rgb(2,0,36);
  /* background: linear-gradient(180deg, 
  rgb(0, 0, 0) 0%, 
  rgb(12, 69, 118) 100%); */
  background: url('./componentes/pages/Home/escritorio.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.ttf') format('ttf');
  font-style: normal;
} */

h1 {
  color: white;
}

p {
  color: white;
}

div {
  color: white;
}

