body {
  background-color: #011c26;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: white;
}

p {
  color: white;
}

div {
  color: white;
}

